@model User
@{
    ViewData["Title"] = "Login-in page";
}

<div class="text-center mt-5">

   
    <form style="max-width:480px;margin:auto;">
        <h1>Welcome to our fitness app</h1>
        <h3>Please log-in</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input class="form-control mb-3" placeholder="Eamil Address" asp-for="Username"/>
        <input class="form-control" placeholder="Password" asp-for="Password"/>
        <div class="mb-4">
        <label>
            <input type="checkbox"/> Do you want premium?
        </label>
        </div>
        <button class="btn btn-primary btn-lg btn">Log in</button>
        <div class="text-center mt-2">
            <a asp-controller="User" asp-action="Add" class="text-primary">Create account</a>
        </div>
    </form>
</div>  