@{
    ViewData["Title"] = "Login-in page";
}

<div class="text-center mt-5">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Login" asp-controller="User" method="post" style="max-width:480px;margin:auto;">
        <h1>Welcome to our fitness app</h1>
        <h3>Please log-in</h3>
        <input name="username" class="form-control mb-3" placeholder="Username" />
        <input name="password" class="form-control" placeholder="Password" />
        <div class="mb-4">
            <label>
                <!--Hidden input to submit when unchecked/false-->
                <input type="hidden" name="isPremium" value="false" />
                <input name="isPremium" type="checkbox" /> Do you want premium?
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>  